.taskset {
    display: block;
}

.title {
    margin-top: 80px;
}

.task {
    display: inline-block;
    padding: 0 5px 15px 0;
}

.close-btn {
    display: inline;
}

.add-btn {
    margin: 3px 0 0 -5px;
    float: left;
}

.bullet {
    margin: 0px 10px 0px 0;
    padding: 5px 0 0 0;
    display: inline;
}

.form {
    float: right;
}

button:focus {
    outline: none;
}


button {
    padding: none;
    border: none;
    background: transparent;
    border-radius: 50px;
}

@media only screen and (min-width: 800px) {
    .taskset {
        display: block;
        margin: 0 100px 0 200px;
    }
}